# Python Conditions:

1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
length = float(input('length: '))
breadth = float(input('breadth: '))

if length == breadth:
  print('It is a square because all sides of a square are equal')
else:
  area = length * breadth
  print('It is a rectangle because opposite sides of a rectangle are equal and the Area is: ', area)

length: 10
breadth: 7.5
It is a rectangle because opposite sides of a rectangle are equal and the Area is:  75.0

2. Take three integer values from the user and print the greatest among them.

In [2]:
num1 =float(input('Enter 1st value: '))
num2 =float(input('Enter 2nd value: '))
num3 =float(input('Enter 3rd value: '))

if num1 >= num2 and num1 >= num3:
    print("The greatest value is the first value, ", num1)
elif num2 >= num1 and num2 >= num3:
    print("The greatest value is the second value, ", num2)
else:
     print("The greatest value is the third value, ", num3)

Enter 1st value: 56
Enter 2nd value: 25
Enter 3rd value: 78
The greatest value is the third value,  78.0

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [5]:
number =int(input('Enter the percentage of a student: '))

if number >= 75 and number <= 100:
    print('The student is allowed for the exam.')
elif number < 0 or number > 100:
    print('Invalid input, please enter the value between 0-100')
else:
    print('The student is not allowed for the exam')

Enter the percentage of a student: 23
The student is not allowed for the exam

4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [9]:
mark = float(input('''
Grading System,
    A+ = 90
    A  = 80
    B  = 60
    c  = 50
    D  = 45
    E  = 25
    
Enter Marks: 
'''))

if mark >= 90 and mark <= 100:
    print('Marks: ', mark ,', Grade: A+')
elif mark>=80 and mark<=89:
    print('Marks: ', mark ,', Grade: A')
elif mark>=60 and mark<79:
    print('Marks: ', mark ,', Grade: B')
elif mark>=50 and mark<=59:
    print('Marks: ', mark ,', Grade: C')
elif mark>=45 and mark<=49:
    print('Marks: ', mark ,', Grade: D')
elif mark>=25 and mark<=44:
    print('Marks: ', mark ,', Grade: E')
elif mark>=0 and mark<=24:
    print('Failed!')
elif mark<0 or mark > 100:
    print('Invalid Input! please enter correct value.')

Grading System,
    A+ = 90
    A  = 80
    B  = 60
    c  = 50
    D  = 45
    E  = 25

Enter Marks:
78
Marks:  78.0 , Grade: B

# Loop Problem

5. Print the following pattern using for and while loop.

    1 2 3 4 5 6 7
    
    1 2 3 4 5 6
    
    1 2 3 4 5
    
    1 2 3 4

In [11]:
for i in range(7, 3, -1):
  for  j in range(1,i+1):
    print(j, end=' ')
  print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

6. Display numbers from -100 to -10 using for loop.

In [12]:
for i in range(-100, -9, 1):
    print(i, end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [5]:
count = 0

for i in range(10,1001):
    for j in range(2,1001):
        if i%j == 0:
            break
    if i == j:
        count += i
        
print('Sum of prime numbers between 10 and 1000 is: ', count)

Sum of prime numbers between 10 and 1000 is:  76110

9. Reverse a given integer number 27956240710.

In [10]:
reverse = 0
num =  27956240710

while num != 0:
  remainder = num % 10
  reverse = reverse * 10 + remainder
  num //= 10

print("The reverse number is : ", reverse)

The reverse number is :  1704265972

10. Print the following pattern using for and while loop.
# # # # #
# # # # # #
# # # # #
# # # #

In [11]:

for i in range(3, 5):
  print('#'*i, end=' ')
  print()

j = 3
while j >= 2:
  print('#'*j, end=' ')
  print()
  j -=1

###
####
###
##

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [13]:
a, b = 0, 1
print(a)
print(b)
i = 2
while i < 15:
  a, b = b, a + b
  print(b)
  i += 1

print(' ')

a, b = 0, 1
for i in range(2, 15):
  a, b = b, a + b
  print(b)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

1
2
3
5
8
13
21
34
55
89
144
233
377

# Python inbuilt Data Structure:

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [3]:
li = [1,3,5,[2,3],True]

li[3].remove(2)
li[3].append(3)

li[-1] = False

print(li)

[1, 3, 5, [3, 3], False]

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [4]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

S3 = S1.intersection(S2)

print(S3)

{True}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [5]:
user_input = input('Enter items for list, separate by comma: ')

user_list = [int(num) for num in user_input.split(',')]

remove_duplicate = list(set(user_list))

print('Updated list: ', remove_duplicate)

user_input2 = input('Enter items for set, separate by comma: ')

user_set = {int(num) for num in user_input2.split(',')}

#user_set = set(user_set)

print('Set: ', user_set)

max_num = max(user_set)

print('Maximum Value: ', max_num)

Enter items for list, separate by comma: 1,9,3,4,5,200,54
Updated list:  [1, 3, 4, 5, 200, 9, 54]
Enter items for set, separate by comma: 1,9,3,4,5,200,54
Set:  {1, 3, 4, 5, 200, 9, 54}
Maximum Value:  200

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [6]:
Dict = { "name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany" }

Dict["region"] = Dict.pop("country")

print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [7]:
import pandas as pd

data = {
    "number": [10,100,200] 
}

df = pd.DataFrame(data)

print(df)

   number
0      10
1     100
2     200

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [10]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }

Dict["age"] = 28

print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}